@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');

.jumbotron {
    background-color: #b6d7ce !important;
    height: 80vh;
}

.jumbotron h1{
    font-family: 'Chewy', cursive;
    margin-top: -40px;
}

.jumbotron {
    /* justify-self: center; */
    text-align: center;
}


.jumbotron img{
    margin-bottom: 20px;
}

.heading h2 {
    margin-top: 40px;
}

 
.pecs img{
    width: 200px;
    margin: auto 10px auto 10px;
    justify-content: space-between;
}

.pecs{
    margin-top: 40px;
    background-color: #b6d7ce;
    text-align: center;
    padding: 150px 150px;
}

.modal-body p{
    margin-left: 20px;
}

.btn:hover, .btn:focus .btn:active:focus{
    color: #b6d7ce;
    border-color: #fff; 
    
}

